<footer class='c-footer'>
  {% if page.url == '/' %}
  <div class='c-projects'>
    <div class='o-grid'>
      <div class='o-grid__col o-grid__col--full'>
        <h3 class='c-projects__title'>Other Apps</h3>
        <ul class='c-projects__list'>
          <li class='c-projects__item'>
            <a href='https://dialektai.com' target='_blank'>
              <img class='c-projects__logo' src='/images/projects/dialektai.png' alt='Dialekt AI'>
              <span class='c-projects__name'>Dialekt AI</span>
            </a>
          </li>
          <li class='c-projects__item'>
            <a href='https://short.applifyer.com/0v5' target='_blank'>
              <img class='c-projects__logo' src='/images/projects/teleprompt-ios.png' alt='Teleprompt iOS'>
              <span class='c-projects__name'>Teleprompt iOS</span>
            </a>
          </li>
          <li class='c-projects__item'>
            <a href='https://short.applifyer.com/lyb' target='_blank'>
              <img class='c-projects__logo' src='/images/projects/teleprompt-android.png' alt='Teleprompt Android'>
              <span class='c-projects__name'>Teleprompt Android</span>
            </a>
          </li>
          <li class='c-projects__item'>
            <a href='https://pricepromoengine.com' target='_blank'>
              <img class='c-projects__logo' src='/images/projects/pricepromo.png' alt='Price Promo Engine'>
              <span class='c-projects__name'>Price Promo</span>
            </a>
          </li>
          <li class='c-projects__item'>
            <a href='https://short.applifyer.com/m2m' target='_blank'>
              <img class='c-projects__logo' src='/images/projects/ble-priority.png' alt='BLE Priority'>
              <span class='c-projects__name'>BLE Priority</span>
            </a>
          </li>
          <li class='c-projects__item'>
            <a href='https://xk-business.applifyer.com' target='_blank'>
              <img class='c-projects__logo' src='/images/projects/xk-business.png' alt='XK Business'>
              <span class='c-projects__name'>XK Business</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% endif %}

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>

      <ul class='o-plain-list c-social-nav u-text-center'>
        {% unless site.twitter == '' %}
          <li class='c-social-nav__item'>
            <a href='{{ site.twitter }}' target='_blank'>
              <span class='c-social-nav__icon' data-icon='ei-sc-twitter' data-size='s'></span>
            </a>
          </li>
        {% endunless %}

        {% unless site.facebook == '' %}
          <li class='c-social-nav__item'>
            <a href='{{ site.facebook }}' target='_blank'>
              <span class='c-social-nav__icon' data-icon='ei-sc-facebook' data-size='s'></span>
            </a>
          </li>
        {% endunless %}

        {% unless site.instagram == '' %}
          <li class='c-social-nav__item'>
            <a href='{{ site.instagram }}' target='_blank'>
              <span class='c-social-nav__icon' data-icon='ei-sc-instagram' data-size='s'></span>
            </a>
          </li>
        {% endunless %}

        {% unless site.github == '' %}
          <li class='c-social-nav__item'>
            <a href='{{ site.github }}' target='_blank'>
              <span class='c-social-nav__icon' data-icon='ei-sc-github' data-size='s'></span>
            </a>
          </li>
        {% endunless %}

        {% unless site.linkedin == '' %}
          <li class='c-social-nav__item'>
            <a href='{{ site.linkedin }}' target='_blank'>
              <span class='c-social-nav__icon' data-icon='ei-sc-linkedin' data-size='s'></span>
            </a>
          </li>
        {% endunless %}

        {% unless site.email == '' %}
          <li class='c-social-nav__item'>
            <a href='mailto:{{ site.email }}' target='_blank'>
              <span class='c-social-nav__icon' data-icon='ei-envelope' data-size='s'></span>
            </a>
          </li>
        {% endunless %}

        <li class='single-icon'>
          <a title='RSS' href="{{ '/atom.xml' | prepend: site.baseurl | prepend: site.url }}">
            <img width="13" src="/images/rss.png">
          </a>
        </li>
      </ul>

    </div>
  </div>
</footer>
