// *----------------------------------*\
//  Settings > Breakpoints
// *----------------------------------*/

// Breakpoints configs for SassMQ
//
// Example usage:
//
// @include mq($from: tablet) {}

$mq-breakpoints: (
  mobile: 320px,
  small: 480px,
  tablet: 640px,
  medium: 768px,
  desktop: 1024px,
  large: 1280px
);